<div class="stages">
  <ul class="nav nav-pills">
    <li><%= link_to("ADDRESS", wizard_path(:add_address))%></li>
    <li><%= link_to("DELIVERY", wizard_path(:check_delivery))%></li>
    <li><%= link_to("PAYMENT", wizard_path(:add_payment))%></li>
    <li><%= link_to("CONFIRM", wizard_path(:confirm))%></li>
    <li><%= link_to("COMPLETE", wizard_path(:complete))%></li>
  </ul>
</div>