
  <%= render 'steps' %>
  <h1>Checkout</h1>
  <%= form_tag(wizard_path, :method => 'put') do %>
<div class="row">
  <div class="col-md-4 col-lg-3 col-lg-offset-1">
    <h2>BILLING ADDRESS</h2>

       <%= render 'customers/address', type: 'billing', address: @billing_address %>
  </div>

  <div class="col-md-4 col-lg-3 col-lg-offset-1">
    <h2>SHIPPING ADDRESS</h2>

       <%= render 'customers/address', type: 'shipping', address: @shipping_address %>
    <div class="checkbox">
      <label><%= check_box_tag('use_billing_address', 1, (!@order.billing_address_id.nil? && @order.billing_address==@order.shipping_address)) %> Use billing address</label>
    </div>
  </div>

  <div class="col-md-4 col-lg-3 col-lg-offset-1">
    <h2>ORDERS SUMMARY</h2>

    <div class="summary-title">
      <nobr>ITEMS TOTAL: &nbsp;</nobr>
         <%= number_to_currency(@order.total_price) %><br />
      <nobr>ORDER TOTAL: &nbsp;</nobr>
         <%= number_to_currency(@order.total_price) %>
    </div>
  </div>
</div>
     <div>
       <%= button_tag('SAVE AND CONTINUE', :class => 'btn btn-default', :type => 'submit', :name => 'address') %>
       <% unless @order.billing_address.nil? || @order.shipping_address.nil? %>
          <%= link_to('CONTINUE', next_wizard_path, {:class => 'btn btn-default checkout'}) %>
       <% end %>
     </div>
  <% end %>